<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
<rewrite>
    <rules>
        <rule name="SPA Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
        </rule>
	
   </rules>
</rewrite>
        <directoryBrowse enabled="false" />
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536600" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="sameorigin" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        
  </system.webServer>
</configuration>
<!--ProjectGuid: F96BBFF1-9808-490A-8818-1B52ED3E2C6F-->