.card-content {
  font-family: Montserrat !important;
  color: black;
  font-size: 12px !important;
}

.filter-button {
  text-align: center;
  font: 10px Montserrat;
  letter-spacing: 0px;
  color: #9a9a9a;
  border-radius: 4px;
}
/* .mt-2, .my-2 {
  margin-top: .001rem!important;
} */
