/* body{
margin:0px;
padding: 0px;
background-color: #ffffff;
font-family: Montserrat;
height: 100%;
width: 100%;
position: relative;
box-sizing: border-box;
} */
/* .backgroundImage{
background-image: url(./PageBackground.png);
width: 100%;
height: 100%;
position: absolute;
background-position:center;
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;

} */
/* .mirralogo-parent{
position: absolute;
width: 90px;
height: 97px;
top: 0%;
right: 14%;
} */
/* .mirraLogo{ */
/* background-image: url(./MirraLogo.png); */
/* width: 100%; */
/* height: 100%;  */
/* position:absolute; */
/* background-position: center center; */
/* background-repeat: no-repeat; */
/* background-size: contain; */
/* background-attachment: fixed; */
/* z-index: -1; */

/* position: absolute; */

/* } */
/* .loginpage-center{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
text-align: center;
} */
/* .loginpage-center-div{
display: flex;
justify-content: space-between;
flex-direction: row;
} */
/* .loginpage-center-first-div{
width: 300px;
text-align: left;
}
.dotLogo{
width: 20px;
height: 22px;
}
.welcome{
font-size: 32px;
}
.censusText{
font-size: 32px;
}
.personsLogo{
width: 350px;
height: 250px;
} */
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.background-image {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.mirralogo {
  max-width: 100%;
  height: auto;
  right: 0%;
  top: 0%;
  /* position: absolute; */
  float: right;
}
.mirralogo-img {
  max-width: 100%;
  height: auto;
}
.mirralogo:after {
  content: "";
  clear: both;
  display: table;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: flex-end; */
  flex-wrap: wrap;
}
.welcomeText {
  font-size: 56px;
  text-align: left;
  letter-spacing: -1.12px;
  color: #3f3d56;
}

.login-form-forgot {
  margin-top: 0px;
  float: right;
}

.censusText {
  font-size: 62px;
  text-align: left;
  letter-spacing: 2.48px;
  color: #4986f0;
  font-weight: bold;
}
.dotslogo {
  background: transparent;
  opacity: 1;
  margin-top: -16px;
}

.userLoginText {
  text-align: left;
  font-family: Montserrat;
  letter-spacing: -0.29px;
  color: #4986f0;
  opacity: 1;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
}
.userIcon {
  width: 18px;
  height: 21px;
  background-color: transparent;
}
.lockIcon {
  width: 12px;
  height: 18px;
  background-color: transparent;
}
.usernameText {
  text-align: left;
  font-family: Montserrat;
  font-weight: bold;
  letter-spacing: 0.19px;
  color: #3f3d56;
  opacity: 1;
}
.passwordText {
  text-align: left;
  font-family: Montserrat;
  letter-spacing: 0.19px;
  color: #3f3d56;
  opacity: 1;
  font-weight: bold;
}
.forgotPasswordText {
  text-align: left;
  font-family: Montserrat;
  color: #7e7e7e;
  opacity: 1;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.forgotPassword {
  float: right;
}
.loginButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  vertical-align: middle;
  background-color: #4986f0;
  flex-direction: row;
  border: none;
  border-radius: 4px;
  /* font-weight: bold; */
  outline: 0;
  margin-top: 30px;
}
.loginButton:active {
  transform: translateY(2px);
  outline: 0px;
}
.loginButton:focus {
  outline: 0px;
}
.loginButtonText {
  text-align: left;
  font-family: Montserrat;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  font-size: 24px;
}
.formStyle {
  background-color: #ffffff;
  box-shadow: 20px 40px 25px #00000014;
  border: 1px solid #e3e4ff;
  border-radius: 8px;
  opacity: 1;
  padding: 20px 40px;
  box-sizing: border-box;
  height: 100%;
  width: 400px;
  margin-top: 25px;
}
.container-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
}

.inputField {
  text-align: left;
  font-family: Montserrat;
  letter-spacing: -0.32px;
  color: #7e7e7e;
  opacity: 1;
}

.modal-heading {
  text-align: left;
  font: 20px Rubik;
  letter-spacing: 0.8px;
  color: #333e4b;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -15px;
  margin-left: 32px !important;
}

.button-color {
  background-color: #2a37aa;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.sub-notification {
  color: #333e4b;
  font: 16px Rubik;
  line-height: 24px;
}
.edit-button {
  border: none;
  float: left !important;
  background: #2a37aa;
  color: #fff;
}
